@import url(https://fonts.bunny.net/css?family=noto-sans:400);

h4 {
	margin-top: 30px;
	font-size: 24px;
}

br {
	margin: 2.5px;
}

input, select {
	margin: 7px;
	font-size: 16px;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

